@media screen and (max-width: 767px) {
    .rightProductInformation {
        display: none;
    }

    .topProductInformation {
        display: block !important;
    }

    .productExtraImages {
        display: none !important;
    }
}

.topProductInformation {
    display: none;
}

.product-img-large {
    aspect-ratio: 1;
    height: auto;
    min-width: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.product-img-small {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    border-radius: 16px;
}

.sizeBox {
    border: 1px solid black;
    width: fit-content;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.sizeBox:hover {
    background-color: rgba(165, 165, 165, 0.63);
    cursor: pointer;
}

.sizeBoxSelected:hover {
    background-color: black;
}

.sizeBoxSelected {
    background-color: black;
    color: white;
}

.productExtraImages {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.productExtraImage {
    width: 75px;
    height: 75px;
    border-radius: 16px;
}

.relatedProduct {
    width: 300px;
    height: 300px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.productColorSelect {
    cursor: pointer;
}

.productColorSelect:hover {
    border: 1px solid black;
}

.filter-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.filter-section {
    display: inherit;
    flex-direction: column;
}