body {
    height: 100vh;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: 1fr;
    gap: 15px;
}

.products a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: max-content;
    flex-grow: 1;
    flex-shrink: 0;
}

.product {
    box-shadow: 1px 1px 1px 1px rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 16px;
}

.trending-product {
    width: 400px !important;
    height: 400px !important;
}

.product-title {
    font-weight: bold;
}

.product-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
}

.shopImage {
    width: 100%;
}

.landingPageImage {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.shopButton {
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: white;
}

.shopButton:hover {
    background-color: #212529;
    color: white;
}

.product-img-container {
    min-width: 150px;
    min-height: 150px;
    width: 300px;
    height: 300px;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.container {
    padding-bottom: 48px;
}

.navbar .container {
    padding-bottom: 0px;
}

.category {
    display: flex;
    background-color: #212529;
    color: white;
    width: 275px;
    height: 75px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 8px;
}

.category-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}